doctype html
html
  head
    link(rel='stylesheet', href='stylesheets/memoja.css')
  body
    h1 Memoja
    form(method='get', action='/memos')
      div
        input(type='search', name='search', placeholder='Search...', results=5, autosave='memoja.net').memoja-search

