body
  color: #331
  background: #eec

input.memoja-search
  border: solid 1px gray
  padding: 5px
  width: 15em

label
    display block
    margin-top 10px
    font-style italic
    font-weight bolder

#memoList
    margin 0px
    border solid 1px blue
    background #eef

#memoView
    border solid 1px red
    background #fee
